
<h1  style="color: black; text-align: center; font-size: xx-large;"><i> Contact With Us </i></h1>
<div class="main">
<!-- contact us -->
<div class="row justify-content-evenly pt-2 pb-4 " id="contact" style="background-image: linear-gradient(170deg, #aea84e 0%, #7999cb 50%, #50b855 75%);">
  <div class="col-md-5 mt-5">
    <h3 class="mb-3">Contact Form</h3>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Full Name</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="nameHelp"
        />
        <div id="nameHelp" class="form-text">
          We'll never share your name with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Message</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
  <div class="col-md-5 mt-5">
    <h3 class="mb-3">Address</h3>
    <p>
      65/2, Block-A<br />Bagmane Technology Park,Bangalore-560093.<br /><i
        class="bi bi-telephone"
      ></i>
      : 987-654-3210
    </p>
  </div>
</div>
