
<app-adminnavbar></app-adminnavbar>

<h1>First</h1>
<div class="container">
    <div class="row justify-content-center mb-5 mt-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Application ID</th>
                    <th scope="col">Policy Name</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Applied date</th>
                    <th scope="col">Status</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a1 of allApplyData" >
                    <th scope="row">{{a1.appid}}</th>
                    <td>{{a1.policyName}}</td>
                    <td>{{a1.customername}}</td>
                    <td>{{a1.policyapplydate}}</td>
                    <td>{{a1.status}}</td>
                   
                
                </tr>
                <!-- <tr>
                    <th scope="row">1</th>
                    <td>SBI Life Insurance</td>
                    <td>Mark</td>
                    <td>12/03/11</td>
                    <td>Approved</td>
           
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>SBI Life Insurance</td>
                    <td>Mark</td>
                    <td>12/03/11</td>
                    <td>Rejected</td>
          
                    
                </tr> -->
            </tbody>
        </table>
    </div>
</div>