<app-adminnavbar></app-adminnavbar>
<h1>First</h1>
<div class="container" id="dashboard">
    <div class="row justify-content-evenly mb-5 mt-5">

        <a class="nav-link col-md-2" routerLink="/viewPolicy">
            <button class="text-center  btn btn-info">
                <h5>View all policy</h5>
                <h4><i class="bi bi-eye-fill"></i> </h4>
            </button></a>

        <a class="nav-link col-md-2" routerLink="/addPolicy">
            <button class="text-center  btn btn-info">
                <h5>Add new policy</h5>
                <h4><i class="bi bi-plus-circle-fill"></i> </h4>
            </button></a>

        <a class="nav-link col-md-2" routerLink="/updatePolicy">
            <button class="text-center  btn btn-info">
                <h5>Update policy</h5>
                <h4><i class="bi bi-pencil-square"></i> </h4>
            </button> </a>

        <a class="nav-link col-md-2" routerLink="/deletePolicy">
            <button class="text-center  btn btn-info">
                <h5>Delete policy</h5>
                <h4><i class="bi bi-trash-fill"></i> </h4>
            </button></a>


    </div>
    <div class="row justify-content-evenly mb-5 mt-5">

        <a class="nav-link col-md-2" routerLink="/appliedUsers">
            <button class="text-center  btn btn-info">
                <h5>Total Applied <br>Policy Holder</h5>
                <h4><i class="bi bi-person-square"></i> </h4>
            </button></a>

        <a class="nav-link col-md-2" routerLink="/approvedUsers">
            <button class="text-center  btn btn-info">
                <h5>Approved Policy Holder</h5>
                <h4><i class="bi bi-person-check-fill"></i> </h4>
            </button> </a>

        <a class="nav-link col-md-2" routerLink="/rejectedUsers">
            <button class="text-center  btn btn-info">
                <h5>Disapproved Policy Holder</h5>
                <h4><i class="bi bi-person-x-fill"></i> </h4>
            </button></a>

        <a class="nav-link col-md-2" routerLink="/waitingUsers">
            <button class="text-center  btn btn-info">
                <h5>Waiting For Approved</h5>
                <h4><i class="bi bi-person-circle"></i> </h4>
            </button></a>


    </div>
</div>