<div class="box-form">
  <div class="container">
    <div class="title">User Login</div>
    <p>
      Don't have an account? <a href="ureg">Creat Your Account</a> it takes less
      than a minute
    </p>
    <div class="content">
      <form method="post" (ngSubmit)="userlogin()">
            <div class="user-details">
              <div class="input-box" br>
                <span class="details">Enter your Email</span>
                <input
                  type="email"
                  placeholder="Enter your Email"
                  required
                  [(ngModel)]="user.cemail"
                  id="cemail"
                  name="cemail"
                />
              </div>

              <div class="input-box">
                <span class="details">Password</span>
                <input
                  type="password"
                  placeholder="Enter your password"
                  required
                  [(ngModel)]="user.cpassword"
                  id="cpassword"
                  name="cpassword"
                />
              </div>
            </div>
            <div class="button">
              <input type="submit" value="Login" />
            </div>
       </form>
    </div>
  </div>
</div>
<app-footer></app-footer>