<div class="box-form">
  <div class="container">
    <div class="title">User Login</div>
    
    <div class="content">
      <form method="post" (ngSubmit)="userlogin()">
            <div class="user-details">
              <div class="input-box" br>
                <span class="details">Enter your Email</span>
                <input
                  type="email"
                  placeholder="Enter your Email"
                  required
                  [(ngModel)]="user.cemail"
                  id="cemail"
                  name="cemail"
                />
              </div>

              <div class="input-box">
                <span class="details">Password</span>
                <input
                  type="password"
                  placeholder="Enter your password"
                  required
                  [(ngModel)]="user.cpassword"
                  id="cpassword"
                  name="cpassword"
                />
              </div>
            </div>
            <div class="button">
              <input type="submit" value="Login" />
            </div>
            
           <div  class="content"><p style="font-size: large; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgba(35, 35, 32, 0.8);">
              Are You New ? Please Cleck below Button ! <br>   
            </p>
            

           
          </div> 
          <button (click)="reg()" class="btn btn-primary " style="padding: 5px; margin-top:5px ;">Cleck Me   </button>
            
       </form>
    </div>
  </div>
</div>
<app-footer></app-footer>