<div class="box-form">
      <div class="container">
        <div class="title">User Login</div>
        <p>Don't have an account? <a href="ureg">Creat Your Account</a> it takes less than a minute</p>
        <div class="content">
          <form action="#">
            <div class="user-details">
             
              <div class="input-box" br>
                <span class="details">Username</span>
                <input type="text" placeholder="Enter your username" required>
              </div>
             
             
              <div class="input-box">
                <span class="details">Password</span>
                <input type="text" placeholder="Enter your password" required>
              </div>
             
           
           
            </div>
            <div class="button">
              <input type="submit" value="Login">
            </div>
          </form>
        </div>
        
      </div>
    
