<br><br>
<div class="box-form">
  <div class="container">
  <div class="title">User Registration</div>
  <form (ngSubmit)="UserReg()">
  <div class="content">
    <div >
      <div class="user-details">
        <div class="input-box">
          <span class="details">Full Name</span>
          <input type="text" placeholder="Enter your name" requied [(ngModel)]="user.cname"id="cname" name="cname">
        </div>
       
        <div class="input-box">
          <span class="details">Email</span>
          <input type="text" placeholder="Enter your email" required [(ngModel)]="user.cemail" id="cemail" name="cemail">
        </div>
        <div class="input-box">
          <span class="details">Phone Number</span>
          <input type="text" placeholder="Enter your number" required  [(ngModel)]="user.cphno"id="cphno" name="cphno">
        </div>
        <div class="input-box">
          <span class="details">Password</span>
          <input type="password" placeholder="Enter your password" required [(ngModel)]="user.cpassword" id="cpassword" name="cpassword">
        </div>
       
        <div class="input-box">
          <span class="details">Address</span>
          <input type="text" placeholder="Enter your Address" required [(ngModel)]="user.caddress" id="caddress" name="caddress">
        </div>
        <div class="input-box">
          <span class="details">Age</span>
          <input type="text" placeholder="Enter your Age" [(ngModel)]="user.cage"  id="cage" name="cage">
        </div>
       
        <div class="input-box">
          <span class="details">Gender</span>

          <select
            
            [(ngModel)]="user.cgender"
            id="cgender"
            name="cgender"
          >
            <option value="">--Select--</option>
            <option value="MALE">Male</option>
            <option value="Female">Female</option>
            <option value="NA">Prefer Not to Say</option>
          </select>
        </div>
       
      
      </div>
    
      
      <div class="button">
        <input type="submit" value="Register">
        
      </div>
    </div>
  </div>
  </form>
</div>