
<h1 class="text-dark text-center">About</h1>

<div class="container-fluid">
  <!-- About -->
  <div class="row justify-content-center mb-4 about">
    <div class="col-md-6 about-text">
      <h5 class="text-primary">Life Insurances</h5>
      <p>Life insurance is a contract between the insured customer and the insurance company in which the life
        insurance company assures to cover the life of the insured customer or promises to take care of the
        investment and returns in addition to the life coverage, in return for a periodical amount known as
        “Premium”.<br> Life insurance is an agreement that is legally enforceable in a court of law. The
        parties to the life insurance contract should declare the basic facts which could affect the life
        insurance policy contract.
        <br>
        Life insurance is a long-term contract unlike health and motor insurance. The minimum period of a
        life insurance contract would be 5 years and can extend up to 99 years depending on the type of
        policy.</p>

    </div>
    <div class="col-md-4  d-md-block about-img">
      <img routerLink="services"src="https://bsmedia.business-standard.com/_media/bs/img/article/2019-11/11/full/1573417945-4844.jpg" alt="" class="img-fluid">
    </div>
  </div>

  <div class="row justify-content-center mb-4 about">

    <div class="col-md-6 about-text">
      <h5 class="text-primary">Health Insurances</h5>
      <p>
        Health insurance is like a financial security that you have for handling your medical expenses.
        Health insurance plans are like an investment that you make so that you can safeguard your
        hard-earned funds from being spent on expenses related to hospitalization, medicines, ambulance,
        doctor’s consultation and more. A health insurance policy can also be viewed as an agreement between
        you and your health insurance company that binds them to cover you financially in case of any
        medical emergency.
        <br><br>
        Health insurance plans are like your friends that take away your financial burden in case of
        hospital related exigencies.
      </p>

    </div>
    <div class="col-md-4 d-md-block about-img">
      <img  routerLink="services" src="https://www.expatica.com/app/uploads/sites/5/2019/11/Health-Insurance-Quotes.jpg" alt="" class="img-fluid">
    </div>

  </div>

  <div class="row justify-content-center mb-4 about">
    <div class="col-md-6 about-text">
      <h5 class="text-primary">Motor Insurances</h5>
      <p>Car Insurance is a contract you and your insurer enter into, to protect you from financial damages
        caused by unforeseeable circumstances like accidents, theft, and even natural calamities. It helps
        you cover majority of the liabilities you might attract if your car gets damaged in a social unrest,
        natural calamity, or even gets stolen in a case of theft.<br><br>
        Bike Insurance is a safety plan that protects bike owners from any liability to third parties,
        arising due to the usage of two-wheelers. Two wheeler insurance is a contract in which
      </p>

    </div>
    <div class="col-md-4 d-md-block about-img">
      <img  routerLink="" src="https://storiesflistgv2.blob.core.windows.net/stories/2020/06/motorinsurance_banner_v3.jpg" alt="" class="img-fluid">
    </div>
  </div>
  
  <div class="row justify-content-center mb-4 about">
    <div class="col-md-6 about-text">
      <h5 class="text-primary">Travel Insurances</h5>
      <p>Travel Insurance offers coverage against various types of emergencies like medical expenses. The
        medical expenses involve medical evaluation and repatriation, detaining checked-in baggage or
        absolute loss of checked-in baggage, forgotten connections, financial emergency assistance, and so
        on.
        <br><br>
        The multi-trip travel insurance plan is handy for the frequent travellers and it insures all the
        multiple trips within the specified duration. The cost and coverage of travel insurance depending on
        the nature of the trip.
      </p>

    </div>
    <div class="col-md-4  d-md-block about-img">
      <img src="https://heymondo.com/blog/wp-content/uploads/2020/11/shutterstock_1320539279_compressed.jpg" alt="" class="img-fluid">
    </div>
  </div>

  <!-- About-end -->
